#chatting-with {
    background-color: #39b5c1;
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    height: 35px;
}

#chatroom {
    background-color: #ececec;
    width: 70%;
    max-width: 660px;
    margin: 50px auto;
    height: 80vh;
    box-shadow: 5px 5px 8px #b3b3b3;
    border-radius: 5px;
}

#chatlog {
	height: fit-content;
    max-height: 100%;
    width: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
    position: absolute;
    bottom: 0;
}

#no-messages {
    position: relative;
    font-weight: bold;
    font-size: 15px;
    color: #656565;
    margin: auto;
    transform: translate(0px, 250px);
    width: 150px;
    text-align: center;
}

#messageForm {
    background-color: #39b5c1;
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

#messageInput {
    width: 97%;
    text-align: right;
}

#message_input {
    width: 400px;
}

.message {
    background-color: #337ab7;
    width: fit-content;
    max-width: 300px;
    overflow-x:auto;
    height: fit-content;
    padding: 5px;
    color: white;
    border-radius: 6px;
    margin: 0px 10px 0px auto;
}

.from-message {
    background-color: #888888;
    width: fit-content;
    height: fit-content;
    max-width: 300px;
    overflow-x:auto;
    padding: 5px;
    color: white;
    border-radius: 6px;
    margin: 0px auto 0px 10px;
}
