body {
  font-family: Arial, Helvetica, sans-serif;
}

#createreview {
	width: 80%;
	margin: 0 auto;
}

.form-item label{
	display: block;
	font-weight: 600;
	font-size: 16px;
	color: #616161;
}

#review-title {
	color: #ff9900;
	text-align: left;
	font-weight: bold;
	padding: 6px;
	border-bottom: 1px solid gray;
}

#register-button {
  padding: 10px 20px;
  border: 2px outset #39b5c1;
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: #39b5c1;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
}

#button-container {
  width: 30%;
  margin: 50px auto 20px auto !important;
  border: none !important;
}

.rating-star {
    direction: rtl;
    font-size: 45px;
    unicode-bidi: bidi-override;
    display: inline-block;
    margin: 10px 30px 0px 30px;
}
.rating-star input {
    opacity: 0;
    position: relative;
    left: -30px;
    z-index: 2;
    cursor: pointer;
}
.rating-star span.star:before {
    color: #777777;
}
.rating-star span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;
}
.rating-star span {
    margin-left: -30px;
}
.rating-star span.star:before {
    color: #777777;
    content:"\f006";
}
.rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
    color: #ffd100;
    content:"\f005";
}

.selected-rating{
    color: #ffd100;
    font-weight: bold;
    font-size: 42px;
}

#register-button:hover {
	cursor: pointer;
	opacity: .7;
	box-shadow: 5px 5px 5px white;
}

.form-item {
	margin: 20px 0px;
}

.form-item input {
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	margin: 5px 0px 20px 0px;
}

.form-item textarea {
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	margin: 5px 0px 20px 0px;
}
