body {
	margin: 0px !important;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 320px;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 300px;
	background-color: #39b5c1;
	padding: 40px 90px;
	color: white;
	font-size: 21px;
	margin: 0px;
}

footer a {
	color: white;
	text-decoration: none;
	display: block;
}

footer a:visited {
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: #ffb14a;
	text-decoration: none;
}

.footer-section {
	width: 280px;
}

#footer-home {
	font-size: 35px;
	font-weight: bold;
}
