#homepage-container {
  width: 80%;
  text-align: center;
  margin: auto;
}

#main-logo {
  width: 100%;
  text-align: center;
  margin: auto;
}

#title {
  vertical-align: top;
  margin-top: 30px;
  width: 30%;
  text-align: center;
  display: inline-block;
  text-align: center;
  transform: translate(100px, 0px)
}

#title h2 {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 75px;
}

#motto {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

/**
* For D3JS logo
**/
#network {
  display: inline-block;
  vertical-align: top;
  opacity: .2;
}

@media all and (max-width: 750px) {
  #network { display: none; }
  #main-logo #title { transform: translate(0px, 0px);  }
  #login-container { background-color: #c8e7ea; }
}

svg circle.node {
  fill: #3b5998;
  stroke: #c76000;
  stroke-width: 1.5px;
}

svg line.link {
  stroke: #bbb;
  stroke-opacity: .6;
  stroke-width: 2.5px;
}
/**
* End for D3JS logo
**/

.signup-button {
  width: 200px;
  padding: 6px;
  background-color: #ff9900;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 25px auto;
  border-radius: 10px;
  border: 2px outset #ff9900;
}

.signup-button:hover {
  cursor: pointer;
  opacity: .7;
  box-shadow: 5px 5px 5px white;
}

.signedin-button {
  width: 200px;
  padding: 6px;
  background-color: #1c9c29;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 25px auto;
  border-radius: 10px;
  border: 2px outset #1c9c29;
}

.signedin-button:hover {
  cursor: pointer;
  opacity: .7;
  box-shadow: 5px 5px 5px white;
}

.homepage-search {
  width: 180px;
  padding: 6px;
  background-color: #40a4a5;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 25px auto 50px auto;
  border-radius: 10px;
  border: 2px outset #40a4a5;
  display: inline-block;
}

.homepage-search:hover {
  cursor: pointer;
  opacity: .7;
  box-shadow: 5px 5px 5px white;
}

#or {
  color: #dc8400;
  font-weight: bolder;
  font-size: 18px;
  background-color: #ffffff87;
}

.start {
  color: #676767;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 90%
}

#homepage-login-conainer {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}

#homepage-login {
  position: relative;
  transform: translate(0px,-300px);
}