.container {
    border-bottom: 2px solid #bbbbbb;
    width: 50% !important;
    padding: 30px 30px 0px 30px !important;
}

#job_title {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: #337ab7;
}

#job_title #post_date {
    font-size: 12px;
}

#job_price {
    display: inline-block;
    vertical-align: center;
    text-align: top;
    padding: 32px 0px 0px 30px;
    font-size: 18px;
}

#jbaccept {
    float: right;
    margin-top: 30px;
}

#contact {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

#job_desc {
    margin: 40px 10px 10px 10px;
}

#job_desc b{
    color: #6b6b6b;
}

#categories {
    margin: 40px 0px -40px 10px;
    color: #6b6b6b;
    font-weight: bold;
}

.category {
    background-color: #8aafbf;
    color: white;
    padding: 3px 15px;
    width: fit-content;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px 5px 0px 5px;
    font-size: 12px;
}

#back-button {
    width: fit-content;
    padding: 5px 20px;
    background-color: #ff9900;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 40px auto;
    text-align: center;
    border: none;
}

#back-button:hover {
    cursor: pointer;
    opacity: .7;
    box-shadow: 5px 5px 5px white;
}

#button-container {
    margin: auto;
    width: 180px;
}

form {
    display: inline-block;
    float: right;
    padding: 10px;
}