body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c8e7ea; /* Sets whole background to light blue */
}

/**
* Styling for title and logo
**/
#main-logo {
	margin: 70px auto 60px auto;
  	width: 100%;
	text-align: center;
}

#main-logo #title {
	font-size: 80px;
	display: inline-block;
	vertical-align: top;
	margin-top: 110px;
	transform: translate(200px, 0px);
	text-shadow: 2px 2px 3px #737373;
}

#motto {
	font-size: 21px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	font-weight: bolder;
}
/**
* End styling for title and logo
**/

/**
* Styling for login and signup section
**/
#login-container {
	display: block;
	width: 43%;
	text-align: center;
	margin: 0 auto;
	padding: 5px 0px 40px 0px;
	background-color: white;
	border-radius: 10px;
}

.form-container {
	padding: 5px;
}

.form-header {
	font-size: 22px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	margin: auto;
}

.form-item {
	margin: 40px;
}

.form-item input {
	padding: 10px;
	border-radius: 5px;
	width: 240px;
}

#login-button {
	width: 265px;
	padding: 10px;
	background-color: #ff9900;
	border: none;
	font-size: 26px;
	font-weight: bold;
	color: white;
}

#login-button:hover {
	cursor: pointer;
	opacity: .7;
	box-shadow: 5px 5px 5px white;
}

#signup-button {
	width: 265px;
	padding: 10px;
	background-color: #ff9900;
	border: none;
	font-size: 26px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	margin: 0 auto;
}

#signup-button:hover {
	cursor: pointer;
	opacity: .7;
	box-shadow: 5px 5px 5px white;
}

#no-account {
	display: inline-block;
	font-size: 25px;
	color: #ff9900;
	font-weight: bolder;
	margin-bottom: 40px;
}
/**
* End styling for title and logo
**/

/**
* For D3JS logo
**/
#network {
	display: inline-block;
	vertical-align: top;
}

@media all and (max-width: 750px) {
  #network { display: none; }
  #main-logo #title { transform: translate(0px, 0px);  }
  #login-container { background-color: #c8e7ea; }
}

svg circle.node {
	fill: #3b5998;
	stroke: #c76000;
	stroke-width: 1.5px;
}

svg line.link {
	stroke: #000;
	stroke-opacity: .6;
	stroke-width: 1.5px;
}
/**
* End for D3JS logo
**/
