/**
* Begin progress bar styling
**/
.load-container {
	width: 200px;
	margin: auto;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
/**
* End progress bar styling
**/

a {
	color:white;
	font-weight: bold;
}
#myjobs {
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

#myjobs h2 {
	color: #670096;
	text-align: left;
	font-weight: bold;
}

#myjobs h5 {
	color: #670096;
	text-align: left;
	font-weight: normal;
	padding: 2px;
	/*border-bottom: 1px solid gray;*/
}

.myjobs-tab {
	background-color: #9951b9;
	color: white;
	font-weight: bold;
}

.myjob-item {
	width: 100%;
	height:100%;
	background-color: white;
	border-bottom: 1px solid gray;
}

.myjob-item .job-title {
	margin: 2px 0px 0px 25px;
	font-size: 16px;
	font-weight: bold;
}

.myjob-item .miles-away {
	margin: 10px 0px -5px 70px;
	font-size: 16px;
	font-weight: bold;
}

.myjob-item .job-pay {
	margin: 10px 0px -5px 30%;
	font-size: 16px;
	font-weight: bold;
}


.jobtitle {
	display: inline-block;
	font-size: 16px;
	color: teal;
	font-weight: bold;
	margin-top: 20px;
  }

.btn-view {
	width: 115px;
	height: 25px;
	font-size:12px;
	font-weight: bold;
	background-color: #3aa4ad;
	color: white;
	padding: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
}

.btn-delete {
	width: 115px;
	height: 25px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: #c56a6a;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 6px;
	border: none;
}


/*
.job-dashboard-item {
	width: 100%;
	margin: 20px auto;
	background-color: white;
	border-width: 2px 6px 2px 6px;
	border-style: solid;
	border-color: #670096;
	height: 400px;
}
*/