body {
  font-family: Arial, Helvetica, sans-serif;
}

/**
* Site colors
*
* Blue - #5fbfc1
* Orange - #ff9d0b
**/

.navbar {
  z-index: 100;
}

.home-button {
  font-weight: bold;
}

.home-button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #cccccc;
}

#search-jobs-button {
  padding-right: 20px;
  padding-left: 20px;
  color: #34b4c1;
  border-top: 6px solid #5acfdb;
}

#my-jobs-button {
  padding-right: 20px;
  padding-left: 20px;
  color: #a671bf;
  border-top: 6px solid #a671bf;
}

#search-workers-button {
  padding-right: 20px;
  padding-left: 20px;
  color: #34b4c1;
  border-top: 6px solid #5acfdb;
}

#post-jobs-button {
  padding-right: 20px;
  padding-left: 20px;
  color: #1c9c29;
  border-top: 6px solid #1c9c29;
}

#post-worker-button {
  padding-right: 20px;
  padding-left: 20px;
  color: #1c9c29;
  border-top: 6px solid #1c9c29;
}

#reviews-button {
  color: #d09f00 !important;
  border-top: 6px solid #d09f00;
}

#poster-buttons-container {
  width: 90%;
  margin: 0 auto;
}

.poster-buttons {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.poster-buttons li {
  width: 145px;
  margin: 0 auto;
}

.navbar-right #profile-button{
  color: #ffb14a;
  border-top: 6px solid #ffb14a;
}

.navbar-right #toggle-login-button{
  border-top: 6px solid #a5a5a5;
}

.dropdown-menu li a{
  padding: 10px !important;
  border-bottom: 1px solid #d09f00;
}

/**
* End navbar styling
**/

.section-title {
  padding: 0px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.section-title p {
  padding-bottom: 10px;
  margin: 10px;
}

.post-button {
  padding: 10px 20px;
  border: 2px outset #39b5c1;
  font-weight: bold;
  color: white;
  font-size: 18px;
  background-color: #39b5c1;
  border-radius: 5px;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  text-decoration: none;
}

.post-button: hover {
  color: white;
  text-decoration: none;
  opacity: .8;
}
