body {
  font-family: Arial, Helvetica, sans-serif;
}

#postjob {
  width: 80%;
  margin: 0 auto;
}

.section-title h2{
  color: #1c9c29;
  text-align: left;
  font-weight: bold;
}

.section-title h5 {
  color: #1c9c29;
  text-align: left;
  font-weight: normal;
  padding: 2px;
}

input {
  padding: 8px;
  border-radius: 5px;
  width: 240px;
}

/*input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}*/

#jobpost-container {
    width: 70%;
    margin: 0px auto 60px auto;
}

#jobpost-container div {
    padding: 20px;
    border-bottom: 2px solid #d4d4d4;
}

#jobpost-container label {
  font-weight: normal;
  font-size: 18px;
}

.post-button {
  padding: 10px 20px;
  border: 2px outset #39b5c1;
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: #39b5c1;
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
}

#jobpost-button-container {
  width: 35%;
  margin: 50px auto 20px auto !important;
  border: none !important;
  text-align: center;
}
