@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

#searchworkers {
  width: 80%;
  margin: 0 auto;
}

#searchworkers h2 {
  color: #00bbe0;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

#search-panel span {
	font-weight: bold;
}

/**
* For category dropdown
*/
.custom-select {
  position: relative;
  font-family: Arial;
  display: inline-block;
  margin: 10px 7% 10px 10px;
  text-align: left;
  display: inline-block;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #ffffff;

}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #000 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #00bbe0;
  color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div {
  color: #ffffff;
  font-weight: bold;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/**
* End for category dropdown
*/

/**
* For search submit
*/

#submit-worker-search {
  padding: 8px 22px;
  background-color: #39b5c1;
  border: none;
  font-weight: bold;
  color: #ffffff;
}

#submit-worker-search:hover {
  cursor: pointer;
  opacity: .7;
}

/**
* End for search submit
*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container > .worker {
  background-color: #ffffff;
  width: 260px;
  margin: 20px;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  border-bottom: 2px solid #d6d6d6;
}

.payrate {
  font-size: 14px;
  margin: 5px 0px;
}

.matched {
  border-color: green;
  border-width: 2px;
  border-style: solid;
}

.matchedText {
  font-weight: bold;
  font-size: 14px;
  color: green;
}

.jobSkills{
  font-size: 14px;
  color: lightseagreen;
  weight: bold;
}

.avgRating{
  font-size:14px;
}

.workRadius {
  font-size: 14px;
  margin: 5px 0px;
}

.workerlisting-buttons {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 10px;
}

.btn-job {
  width: 115px;
  padding: 0px;
  margin: 20px auto 0px auto;
}

.btn-job button {
  width: 115px;
  padding: 0px;
  margin: 20px auto 0px auto;
  font-weight: bold;
}

