@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

#searchjobs {
	width: 80%;
	margin: 0 auto;
}

#searchjobs h2 {
	color: #00bbe0;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid gray;
}

#search-panel span {
	font-weight: bold;
}

/**
* For category dropdown
*/
.custom-select {
  position: relative;
  font-family: Arial;
  display: inline-block;
  margin: 10px 7% 10px 10px;
  text-align: left;
  display: inline-block;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #ffffff;

}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #000 transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #00bbe0;
  color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div {
	color: #ffffff;
	font-weight: bold;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/**
* End for category dropdown
*/

/**
* For search submit
*/

#submit-job-search {
	padding: 8px 22px;
	background-color: #39b5c1;
	border: none;
	font-weight: bold;
	color: #ffffff;
}

#submit-job-search:hover {
	cursor: pointer;
	opacity: .7;
}

/**
* End for search submit
*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container > .myjob-item {
  background-color: #ffffff;
  width: 260px;
  margin: 20px;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  border-bottom: 2px solid #d6d6d6;
}

.jobauthor {
	font-size: 12px;
	margin-top: 5px;
}

.jobprice {
  font-size: 12px;
  font-weight: bold;
}

.btn-job {
	width: 115px;
	padding: 0px;
	margin-top: 20px;
}

.btn-job button {
	width: 115px;
	padding: 0px;
  margin-top: 20px;
}

#view-button {
	width: 90%;
	padding: 8px;
	background-color: #ff9900;
	border: none;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

#view-button2 {
	width: 50%;
	padding: 4px;
	background-color: #ff9900;
	border: none;
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin-top: auto;
}

#save-button {
	width: 90%;
	padding: 8px;
	background-color: #39b5c1;
	border: none;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

.poster-info {
	padding: 10px;
	font-size: 18px;
}

.posted-by {

}

#verified {
	color: #39b5c1;
	font-weight: bolder;
	margin-left: 20px;
}

/**
* For star rating
**/

.poster-rating {
	display: inline-block;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #FFD700;; 
  float: right; 
}

/**
* End for star rating
**/
