body {
  font-family: Arial, Helvetica, sans-serif;
}

#selectreview {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#selectreview h5 {
	color: #d47f00;
	text-align: left;
	font-weight: normal;
	padding: 6px;
}

.form-item label{
	display: block;
	font-weight: 600;
	font-size: 16px;
	color: #616161;
}

#selectreview-title {
	color: #ff9900;
	text-align: left;
	font-weight: bold;
	padding: 6px;
}

#register-button {
  padding: 10px 20px;
  border: 2px outset #39b5c1;
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: #39b5c1;
  border-radius: 5px;
  margin: 0 auto;
  width: 28%;
}

#register-button:hover {
	cursor: pointer;
	opacity: .7;
	box-shadow: 5px 5px 5px white;
}

.form-item {
	width: 30%;
    margin: 40px auto 20px auto;
	padding-bottom: 10px;
}

.form-item input {
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	width: 96%;
}
