body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c8e7ea; /* Sets whole background to light blue */
}

.form-container {
	background-color: white;
	width: 40%;
	margin: 120px auto;
	padding: 30px 10px 60px 10px;
	text-align: center;
	border-radius: 10px;
}

#signup-form-items {
	width: 60%;
	text-align: left;
	margin: 10px auto 0px auto;
}

.form-item label{
	width: 100%;
	text-align: left;
	display: inline-block;
	margin-bottom: 10px;
}

.form-header {
	text-align: center;
	color: #ff9900;
	width: 200px;
	margin: 0 auto;
}

#register-button {
	width: 265px;
	padding: 10px;
	background-color: #ff9900;
	border: none;
	font-size: 26px;
	font-weight: bold;
	color: white;
}

#register-button:hover {
	cursor: pointer;
	opacity: .7;
	box-shadow: 5px 5px 5px white;
}

#login-linkback {
	text-decoration: none; 
	color: #ff9900; 
	display: block;
	margin-top: 40px;
}

.form-item {
	width: 100%;
    margin-bottom: 30px;
	border-bottom: 2px solid #b7b7b7;
	padding-bottom: 10px;
}

.form-item input, select {
	padding: 10px 0px 10px 10px;
	border-radius: 5px;
	width: 96%
}

.form-control {
	padding: none;
	border: none;
}