body {
  font-family: Arial, Helvetica, sans-serif;
}

#viewreview {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#viewreview-title {
	color: #ff9900;
	text-align: left;
	font-weight: bold;
	padding: 6px;
}

.stars {
	padding: 10px;
	font-weight: bold;
	color: #b99900;
}

.stars span {
	color: #7d7d7d;
	font-weight: normal;
	margin-left: 40px;
}

.review {
	width: 100%;
	border-bottom: 2px solid #cecece;
	padding: 20px;
	text-align: left;
}

.review-description {
	margin: 5px;
	background-color: #eaeaea;
	padding: 10px 20px;
	border-radius: 5px;
}

