<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/chat-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/navstyle.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/chat-client.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
</head>
<body>

  <div class="page-container">

    <div class="content-wrap">

      <%- include('header'); %>

      <div id="chatroom">

        <div id="chatting-with">
          Chatting with <%= user %>
        </div>

        <div style="height: 90%; position: relative;">
          <div id="chatlog">
          </div>
        </div>

        <form id="messageForm" class="form-inline">
          <div id="messageInput">
            <input placeholder="Enter a message" class="form-control" type="text" id="message_input" minlength="1">
            <button type="button" class="btn btn-primary" id="sendMessageBtn" onclick="sendMessage()">Send message</button>
          </div>
        </form>

      </div>  
     
    </div>

    <%- include('footer'); %>

  </div>
  
</body>
</html>
