<!DOCTYPE html>
<html>

<head>
    <title><%= post.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" href="/stylesheets/navstyle.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/job-style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/javascripts/acceptjob.js"></script>
	<script src="/javascripts/applyjob.js"></script>
	<script src="/javascripts/autoaccept.js"></script>

	<script>
		$(document).on( "click", "[id='attacher']", function(event) {
		$("[id='myDIV']").toggle();
		});
		$(document).ready( function() {
		$("[id='myDIV']").toggle();
		});
	</script>
</head>

<body>
	<div class="page-container">

		<div class="content-wrap">

			<%- include('header'); %>

			<div class="container" style="position: static; float: none;">

				<!--div id="job_id" class="row">job_id: <%= post.job_id%></div>

				<div id="poster_id" class="row">poster_id: <%= post.poster_id %></div>

				<div id="worker_id" class="row">worker_id: <%= post.worker_id %></div-->

				<% if (typeof post !== 'undefined') { %>
					<div class="myjob-item row">
						<div id="job_desc">
							<h3><%= post.title %></h3>
							posted by <%= post.poster_id %>
						</div>

						<% if(typeof user !== 'undefined'){ %>														
						<form method="post" class ="jobpost">
							<input type="hidden" name="job_id" value="<%= post.job_id %>">
							Enter comments here:
							<textarea name="message" maxlength="250" cols="50" style="resize:none"></textarea>
							<br>
							<% if(post.needs_compl_photo){ %>
							<button type="submit" id="myDIV" class="btn btn-info">Submit</button>
							<% } else{ %>	
							<button type="submit" class="btn btn-info">Submit</button>
							<% } %>
						</form>
						<% if(post.needs_compl_photo){ %>
						<button type="button" class="btn btn-info" id="attacher">Attach Image</button>
						<div id="myDIV">
							<img src="/images/mowing.jpg" style="width:400px;height:300px;">
						</div>				
						<% }} %>
					</div>

					<% } else { %>
					<div class="myjob-item row">
					  <div class="job-details">
						<div id="job_id">No jobs found!</div>
					  </div>
					</div>
				</div>
			<% } %>
			</div>

			<div id="button-container"><button style="text-decoration: none; color: white;" id="back-button" onclick="goBack()">
				Back to Search
			</button></div>

			<script>function goBack() {window.history.back();}</script>
			<%- include('footer'); %>
		</div>
		
	</div>
</body>
</html>