<!DOCTYPE HTML>
<html>
<head>
  <title>LocalLink</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/createReview-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/navstyle.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
</head>
<body>

  <div class="page-container">

    <div class="content-wrap">

      <%- include('header'); %>

      <!-- BEGIN RATINGS FORM CONTAINER-->
      <div id="createreview">

        <h2 id="review-title">Create Review</h2>

          <form method="POST">

            <div id="CreateReview-form-items">

              <div class="form-item">           
                <label>Enter the username of who you are reviewing: </label>
                <input type="text" placeholder="Username" name="username" 
                maxlength="30" required>
              </div>
                     
              <div class="form-item">
                <label>How many stars would you rate them?</label>
                <span class="rating-star">
                  <input type="radio" name="rating" value="5"><span class="star"></span>
                  <input type="radio" name="rating" value="4"><span class="star"></span>
                  <input type="radio" name="rating" value="3"><span class="star"></span>
                  <input type="radio" name="rating" value="2"><span class="star"></span>
                  <input type="radio" name="rating" value="1"><span class="star"></span>
                </span> 
              </div>          

              <div class="form-item">
                <label>Write about your experience: </label>
                <textarea contenteditable="true" spellcheck="true" placeholder="Write your review" name="review" rows="10" cols="100"></textarea>       
              </div>
            
            <div id="button-container">
              <input type="submit" value="SUBMIT" id="register-button">
            </div>

          </div>

        </form>
      </div>
    </div>
    <!-- END RATINGS FORM CONTAINER-->


    <%- include('footer'); %>

  </div>
  
</body>
</html>
