<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/homepage-style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/login-style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/signup-style.css" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrSsf2VRjUFCcWqaY5_WSaLmZwACmxH5U&libraries=places&callback=initAutocomplete" defer></script>
  	<script src="/javascripts/autocomp.js"></script>
	<script>
		$( document ).ready(function() {
			$('#state option[value=<%= userinfo.state %>]').attr('selected','selected');
		});
	</script>
</head>

<body>
	<div class="page-container">

		<div class="content-wrap">

			<%- include('header'); %>
			<div class="form-container">

				<h1 class="form-header">Edit Profile</h1>
				<% if(typeof userinfo.username !== 'undefined'){ %>
				<form method="POST">
				  <div id="signup-form-items">
		<!--
					<div class="form-item">
					  <label>Password:</label>
					  <input type="password" id="password"  name="password"><br>
					  <input type="password" id="confirmPassword" name="confirmPassword" placeholder="CONFIRM PASSWORD"><span id='message'></span><br>
					</div>
		
					<script type="text/javascript">
					  $('#password, #confirmPassword').on('keyup', function () {
						if ($('#password').val() == $('#confirmPassword').val()) {
						  $('#message').html('Matching').css('color', 'green');
						} else 
						  $('#message').html('Not Matching').css('color', 'red');
					  });
					</script>
		-->
					<div class="form-item">
					  <label for="email">Email:</label>
					  <input type="email" value="<%= userinfo.email %>" name="email" maxlength="100" required>
					</div>
		
					<div class="form-item">
					  <label for="phone">Phone Number:</label>
					  <input type="tel" id="phone" value="<%= userinfo.phone %>" name="phone" maxlength="12" required>
					  <script type="text/javascript">
						$('#phone').keydown(function (e) {
							 var key = e.charCode || e.keyCode || 0;
							 $text = $(this); 
							 if (key !== 8 && key !== 9) {
								 if ($text.val().length === 3) {
									 $text.val($text.val() + '-');
								 }
								 if ($text.val().length === 7) {
									 $text.val($text.val() + '-');
								 }
							 }
							 return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
						 })
		
						$('#phone').keyup(function(){
						  $(this).val($(this).val().replace(/(\d{3})\-?(\d{3})\-?(\d{4})/,'$1-$2-$3'))
						});
					  </script>
					</div>
				  
					<div class="form-item">
					  <label style="display: block" for="about">About:</label>
					  <input type="text" name="about" maxlength="200" value="<%= userinfo.about_msg %>" required>
					</div>
					<div class="form-item">
						<label>Address:</label>
						<div class="panel panel-primary">
						  <div class="panel-body">
							<input id="autocomplete" placeholder="Search for your address" onFocus="geolocate()" type="text" autocomplete="off" required>
							<div id="address">
							  <table>
								<tr>
								  <th><input class="form-control" name="str_address" placeholder="Street Address" id="street_number" disabled="true"></th>
								  <th><input class="form-control" name="road" placeholder="Road" id="route" disabled="true"></th>
								</tr>
								<tr>
								  <th><input class="form-control" name="city" placeholder="City" id="locality" disabled="true"></th>
								</tr>
								<tr>
								  <th><input class="form-control" name="state" placeholder="State" id="administrative_area_level_1" disabled="true"></th>
								  <th><input class="form-control" name="zip" placeholder="Zip" id="postal_code" disabled="true"></th>
								</tr>
								<input placeholder="lat" id="lat" name="lat" style="display: none">
								<input placeholder="lng" id="lng" name="lng" style="display: none">
							  </table>
							</div>
						  </div>
						</div>
					  </div>
					<div class="form-item">
						<label style="display: block" for="about">Active User Role:</label>
						<select name="isWorker" id="isWorker" required>
							<option Value="0">Job Poster</option>
							<option value="1">Worker</option>
						</select>
					  </div>
				  </div>
				  <input type="submit" value="Update" id="register-button">
				</form> 
				<% } else { %>
				<h1>Error, please log in!</h1>
				<% } %>
		</div>

	</div>

	<%- include('footer'); %>

	</div>
</body>

</html>