<!-- BEGIN FOOTER -->
<footer>

  <div class="footer-section">
    <a href="/" id="footer-home">LocalLink</a>
    <span>Copyright © Team Silver 2020</span>
    <a href="https://www.odu.edu/">Old Dominion University</a>
    <a href="https://www.odu.edu/compsci">ODU CS Department</a>
  </div>

</footer>
<!-- END FOOTER-->
