<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="margin: 5px 10px 0px 20px;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><b style="color: #ff9d0b">Local</b><b style="color: #5fbfc1">Link</b></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="home-button"><a href="/myjobs" id="my-jobs-button">My Jobs</a></li>
        <li class="home-button"><a href="/searchjobs" id="search-jobs-button">Search Jobs</a></li>
        <li class="home-button"><a href="/jobpost" id="post-jobs-button">Post Job</a></li>
        <li class="home-button"><a href="/searchworkers" id="search-workers-button">Search Workers</a></li>
        <li class="home-button"><a href="/workerpost" id="post-worker-button">Post Worker</a></li>
        <li class="dropdown home-button" id="reviews-button">
          <a class="dropdown-toggle" data-toggle="dropdown" style="color: #d09f00;">Reviews<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/createReview">Create Review</a></li>
            <li><a href="/selectReview">View Reviews</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (typeof session.username !== 'undefined') { %>
          <li class="home-button"><a id="profile-button" href="/initializechat"><i style="font-size:20px; color: orange;" class="fa">&#xf0e0;</i></a></li>
          <li class="home-button"><a id="profile-button" href="/profile">Profile <i style="font-size:19px; color: orange;" class="fa">&#xf2be;</i></a></li>
        <% } else{ %>
          
        <% } %>

        <% if (typeof session.username !== 'undefined') { %>
          <li><a href="/logout" id="toggle-login-button"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <% } else{ %>
          <li><a href="/login" id="toggle-login-button"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
