<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <title>LocalLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/homepage-style.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/myjobs-style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/searchjobs-style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/footer-style.css"
    />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="javascripts/network.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>

  </head>
  <body>

    <div class="page-container">

      <div class="content-wrap">

        <%- include('header'); %>

        <div id="main-logo">
          <div id="title">
            <h2><b style="color: #ff9d0b">Local</b><b style="color: #40a4a5">Link</b></h2>

            <div style="color: #40a4a5" id="motto">
              Connecting Neighbors to Neighbors
            </div>

            <div id="button-container">

              <div class="start"><b>Looking for work?</b> Browse small jobs in your area posted by our users.</div>

              <a style="text-decoration: none; color: white;" href="/searchjobs"><div class="homepage-search">Search Jobs</div></a>

              <div class="start"><b>Need help?</b> Search for a worker in your area that can do what you need.</div>

              <a style="text-decoration: none; color: white;" href="/searchworkers"><div class="homepage-search">Search Workers</div></a>

            </div>
          </div>

          <div id="homepage-login-conainer">

            <div id="network"></div>

            <% if (typeof session.username !== 'undefined') { %>
              <div id="homepage-login">

                <div class="start"><b>Post a job or your worker profile.</b></div>

                <a style="text-decoration: none; color: white;" href="/jobpost"><div class="signedin-button">Post a Job</div></a>

                <a style="text-decoration: none; color: white;" href="/workerpost"><div class="signedin-button">Post Worker Profile</div></a>

              </div>
            <% } else{ %>
              <div id="homepage-login">

                <div class="start"><b>To start accepting or posting jobs, please sign in.</b></div>

                <a style="text-decoration: none; color: white;" href="/login"><div class="signup-button">Login</div></a>

                <div id="or">
                  Don't have an account?
                </div>

                <a style="text-decoration: none; color: white;" href="/signup"><div class="signup-button">Create an Account</div></a>

              </div>
            <% } %>

            
          </div>
          
        </div>

        <!--section>
          <div id="poster-buttons-container">
            <center>
              <div class="tab-content">
                <div id="myjobs" class="tab-pane fade in active">
                  <div class="section-title">
                    <h2>My Jobs Dashboard</h2>
                    <h5>
                      From here, you can view and access your in progess and
                      past accepted jobs.
                    </h5>
                  </div>

                  <ul class="nav nav-tabs">
                    <li class="active">
                      <a
                        class="myjobs-tab"
                        data-toggle="tab"
                        href="#inprogress-jobs"
                        id="inprogress-tab"
                        >In Progress</a
                      >
                    </li>
                    <li>
                      <a
                        class="myjobs-tab"
                        data-toggle="tab"
                        href="#past-posted-jobs"
                        id="past-posted-tab"
                        >Past Posted</a
                      >
                    </li>
                    <li>
                      <a
                        class="myjobs-tab"
                        data-toggle="tab"
                        href="#past-worked-jobs"
                        id="past-worked-tab"
                        >Past Worked</a
                      >
                    </li>
                  </ul>

                  <div class="tab-content">
                    <div
                      id="inprogress-jobs"
                      class="job-dashboard-item tab-pane fade in active"
                    >
                      <div class="load-container">
                        <div class="loader"></div>
                      </div>

                      <div style="display: none" id="inprogress-container">
                        <-- Demo in progress job listing >
                        <--div class="myjob-item">

                          <div class="job-details">
                            <div class="job-title">
                              Job Title Here 
                            </div>
                          </div>

                          <div class="miles-away">
                           8 miles away
                          </div>

                          <div class="job-pay">
                            $00.00
                          </div>

                          <div class="job-buttons">
                            <button id="view-button">View Job</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      id="past-posted-jobs"
                      class="job-dashboard-item tab-pane fade in"
                    ></div>

                    <div
                      id="past-worked-jobs"
                      class="job-dashboard-item tab-pane fade in"
                    ></div>
                  </div>

                </div>
              </div>
            </center>
          </div>
        </section-->

      </div>

      <%- include('footer'); %>
    </div>
  </body>
</html>


<!-- Example code for a single job listing.

                      <div class="job-listing">

                        <div class="job-details">
                          <div class="job-title">
                            Job Title Here 
                          </div>
                          <div class="poster-info">
                            <div class="posted-by">Posted by John S.<span id="verified">Verified User</span></div>
                            <div class="poster-rating">
                              <fieldset class="rating">
                                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5-stars"></label>
                                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5-stars"></label>
                                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4-stars"></label>
                                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5-stars"></label>
                                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3-stars"></label>
                                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5-stars"></label>
                                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2-stars"></label>
                                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5-stars"></label>
                                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1-star"></label>
                                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title=".5-stars"></label>
                              </fieldset>
                            </div>
                          </div>
                        </div>

                        <div class="miles-away">
                         8 miles away
                        </div>

                        <div class="job-pay">
                          $00.00
                        </div>

                        <div class="job-buttons">
                          <button id="view-button">View Job</button>
                          <button id="save-button">Save Job</button>
                        </div>
                      </div>
                      End example job listing -->