<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/homepage-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/selectReview-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/navstyle.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
</head>
<body>

  <div class="page-container">

    <div class="content-wrap">

      <%- include('header'); %>

      <div id="chatroom">

        <div class="section-title">
          <h2 id="chat-title">Start Chat</h2>
            <h5>
              Initiate chat with a user.
            </h5>
        </div>

        <form method="POST">

          <div id="chat-form-items">         
           
            <div class="form-item">
                <label>Who would you like to chat with?</label>
                <input type="text" name="username" placeholder="USERNAME"><br>
            </div>
                
            <input type="submit" value="SUBMIT" id="register-button">

          </div>

        </form>  
        
	    </div>	
	   
    </div>

    <%- include('footer'); %>

  </div>
  
</body>
</html>
