<!DOCTYPE html>
<html>

<head>
    <title><%= post.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" href="/stylesheets/navstyle.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/job-style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/payment.css" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/javascripts/acceptjob.js"></script>
	<script src="/javascripts/applyjob.js"></script>
	<script src="/javascripts/autoaccept.js"></script>

</head>

<body>
	<div class="page-container">

		<div class="content-wrap">

			<%- include('header'); %>

			<div class="container" style="position: static; float: none;">

				<!--div id="job_id" class="row">job_id: <%= post.job_id%></div>

				<div id="poster_id" class="row">poster_id: <%= post.poster_id %></div>

				<div id="worker_id" class="row">worker_id: <%= post.worker_id %></div-->

				<% if (typeof post !== 'undefined') { %>
					<div class="myjob-item row">
						<div id="job_desc">
							<h3><%= post.title %></h3>
							posted by <a href="/viewReview?username=<%= post.poster_id %>"><%= post.poster_id %></a> <br>
							<b>Price:</b> $<%= post.price %> <br>
							<% if(post.worker_id && (user == post.poster_id || user == post.worker_id)){ %>
							<a href="https://www.google.com/maps/search/?api=1&query=<%= post.location.x %>,<%= post.location.y %>" target=”_blank”>Navigate to job site</a>
							<% } %>
						</div>

						<% if(typeof user !== 'undefined'){ %>		<%# Make sure the application/contact buttons are only shown to logged in users %>
						<form method="post" class ="jobpost">

							<%# Prevent user from applying if they've already done so or if they posted the job %>
							<% if(Array.isArray(post.applied_worker)){ %>
							<% if(post.applied_worker.indexOf(user) != -1){ %>
							<button type="button" class="btn btn-success btn-job" id="jbapply">Application Sent!</button>
							<button type="button" class="btn btn-primary btn-job" id="jbautoacpt">Auto Accept Job</button>
							<% } else if(user !== post.poster_id){ %>							
							<button type="button" class="btn btn-primary btn-job" id="jbapply">Apply For Job</button>
							<button type="button" class="btn btn-primary btn-job" id="jbautoacpt">Auto Accept Job</button>
							<% }} else if(user !== post.poster_id && !post.worker_id){ %>
							<button type="button" class="btn btn-primary btn-job" id="jbapply">Apply For Job</button>
							<button type="button" class="btn btn-primary btn-job" id="jbautoacpt">Auto Accept Job</button>
							<% } %>
							<input type="hidden" name="job_id" value="<%= post.job_id %>">
							<input type="hidden" name="worker_id" value="<%= user %>">							
							<% if(post.worker_id){ %>
							<% if(post.worker_id == user && !post.completed_date){ %>
							<input style="display: none;" type="text" name="username" value="<%= post.poster_id %>">
							<input type="hidden" name="chat_id" value="<%= post.job_id %>">
							<input style="text-decoration: none; color: white; font-weight: bold;" class="btn btn-info" type="submit" value="Contact" id="contact">
							<% } else if(post.poster_id == user && !post.completed_date){ %>
							<input style="display: none;" type="text" name="username" value="<%= post.worker_id %>">
							<input type="hidden" name="chat_id" value="<%= post.job_id %>">
							<input style="text-decoration: none; color: white; font-weight: bold;" class="btn btn-info" type="submit" value="Contact" id="contact">
							<% }} %>
						</form>
						<% } %>
						
						<div id="job_desc" class=""><b>Description:</b> <%= post.job_desc %></div>
						<% if(post.poster_id == user && post.worker_id){ %>
						<div id="job_desc" class=""><b>Worker:</b> <a href="/viewReview?username=<%= post.worker_id %>"><%= post.worker_id %></a></div>
						<% } %>
						<div id="categories">Category: <div class="category"><%= post.jobcategories[0] %></div>
						<br>

						<% if (post.needs_compl_photo && (post.compl_message || post.completed_date)){ %>
							<div id="job_desc">Completion Photograph:<img src="/images/mowing.jpg" style="width:400px;height:300px;"></div>
						<% } %>
						<%# Section to approve applicants shown only to job poster %>
						<% if(typeof user !== 'undefined' && !post.completed_date){ %>
						<% if(Array.isArray(post.applied_worker) && user == post.poster_id){ %>
						<% post.applied_worker.forEach(function (p) { %>	<%# List each job applicant and let job poster approve one %>
						<form method="post" class ="jobpost">
							<input type="hidden" name="job_id" value="<%= post.job_id %>">
							<input type="hidden" name="worker_id" value="<%= p %>">
							<div id="job_desc">Applicant: <%= p %></div>
							<button type="button" class="btn btn-primary btn-job" id="jbaccept">Accept Worker</button>
						</form>
						<% })} %>										
						<% if (user == post.worker_id && !post.needs_completion){ %>
							<% if(post.reject_message){ %>
							<div id="job_desc">Completion request rejected! Reason: <%= post.reject_message %></div>
							<% } %>
							<a href="/completejob?job_id=<%= post.job_id %>"><button type="button" class="btn btn-primary btn-job" id="jbcomplete">Complete Job</button></a>
						<% } %>						

						<% if (user == post.poster_id && post.needs_completion){ %>							
							<div id="job_desc">Message: <%= post.compl_message %></div>
							<form method="post" action="/completejob_response" id="completeJob">
								<input type="hidden" name="jobid" value="<%= post.job_id %>">
								<label for="needs_compl_photo">Approve Work?</label>
                				<select id="needs_compl_photo" name="compl_response">
                  					<option value="true" selected>Yes</option>
                  					<option value="false">No</option>
								</select>
								Enter comments here:
								<textarea name="message" maxlength="250" cols="50" style="resize:none"></textarea>															
								<input type="button"  style="text-decoration: none; color: white; font-weight: bold; float: right;" class="btn btn-info" onclick="showPayment()" value="Pay Worker">								

								<div id="payment" class="creditCardForm" style="display: none;">									
									<div class="payment">
										<form>
											<div class="form-group owner">
												<label for="owner">Name on Card</label> <% var full_name = session.fname + " " + session.lname; %>
												<input type="text" class="form-control" id="owner" value='<%= full_name %>' disabled="true">
											</div>
											<div class="form-group CVV">
												<label for="cvv">CVV</label>
												<input type="text" class="form-control" id="cvv" value="132" disabled="true">
											</div>
											<div class="form-group" id="card-number-field">
												<label for="cardNumber">Card Number</label>
												<input type="text" class="form-control" id="cardNumber" value="4465763072671731" disabled="true">
											</div>
											<div class="form-group" id="expiration-date">
												<label>Expiration Date</label>
												<select disabled="true">
													<option value="01" selected>January</option>
													<option value="02">February </option>
													<option value="03">March</option>
													<option value="04">April</option>
													<option value="05">May</option>
													<option value="06">June</option>
													<option value="07">July</option>
													<option value="08">August</option>
													<option value="09">September</option>
													<option value="10">October</option>
													<option value="11">November</option>
													<option value="12">December</option>
												</select>
												<select disabled="true">
													<option value="20"> 2020</option>
													<option value="21"> 2021</option>
													<option value="22"> 2022</option>
													<option value="23" selected> 2023</option>
													<option value="24"> 2024</option>
													<option value="25"> 2025</option>
												</select>
											</div>
											<div class="form-group" id="credit_cards">
												<img src="/images/visa.jpg" id="visa">
												<img src="/images/mastercard.jpg" id="mastercard">
												<img src="/images/amex.jpg" id="amex">
											</div>
											<div class="form-group" id="pay-now">
												<button class="btn btn-default" id="confirm-purchase">Submit Payment</button>
											</div>
										</form>
									</div>
								</div>
							</form>
						<% }} %>
					</div>

					<% } else { %>
					<div class="myjob-item row">
					  <div class="job-details">
						<div id="job_id">No jobs found!</div>
					  </div>
					</div>
					<% } %>
					<br><br>

				</div>

			</div>

			<div id="button-container"><button style="text-decoration: none; color: white;" id="back-button" onclick="goBack()">
				Back to Search
			</button></div>

			<script>function goBack() {window.history.back();}</script>

		</div>
		<%- include('footer'); %>
	</div>
</body>
</html>