<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <title>LocalLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/homepage-style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/postjob-style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/footer-style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>

    <div class="page-container">

      <div class="content-wrap">

        <%- include('header'); %>

        <div id="postjob">

          <div class="section-title">
            <h2>Post Job</h2>
            <h5>
              Describe the job you need completed and post it so that other users can view it and apply to complete it.
            </h5>
          </div>

          <div id="jobpost-container">
            <form method="POST">
              
              <div class="dropdown">
                <label for="category">Please select a job category</label>
                <select id="category" name="job_category">
                  <option value="Carpentry">Carpentry</option>
                  <option value="Cleaning">Cleaning</option>
                  <option value="Electrical">Electrical</option>
                  <option value="Lawn care">Lawn care</option>
                  <option value="Landscaping">Landscaping</option>
                  <option value="Painting">Painting</option>
                  <option value="Plumbing">Plumbing</option>
                  <option value="Trash Removal">Trash Removal</option>
                  <option value="Welding">Welding</option>
                  <option value="Moving">Moving</option>
                  <option value="Drywall repair">Drywall repair</option>
                </select>
              </div> 

              <div style="display: inline-block;">
                <label for="title">Enter job title:</label>
                <input type="text" placeholder="Enter job title" name="title" maxlength="100" required>
              </div>

              <div class="formBox">
                <label for="description">Enter details about the job you need completed:</label>
                <input type="text" placeholder="Enter job description" name="description" maxlength="600" required>
              </div>
              
              <div class="formBox">
                <label for="price">How much are you willing to pay to have this job completed? (Maximum of 150 dollars)</label>
                <input type="number" min="1" max="150" step="1" placeholder="Enter price in dollars" name="price" required>
              </div>

              <div class="formBox">
                <label for="radius">What is the view distance? (Maximum of 10 miles)</label>
                <input type="number" min="1" max="10" step="1" placeholder="Enter job radius" name="radius" required>
              </div>

              <div class="formBox">
                <label for="needs_compl_photo">Require verification photograph? </label>
                <select id="needs_compl_photo" name="needs_compl_photo">
                  <option value="false" selected>No</option>
                  <option value="true">Yes</option>
                </select>
              </div>

              <div class="formBox" id="jobpost-button-container">
                  <input type="submit" value="Post my job" class="post-button">
              </div>
            
            </form>

          </div>

        </div>
        
      </div>

      <%- include('footer'); %>

    </div>

  </body>
</html>

