<!DOCTYPE html>
<html>
  <head>
    <title>LocalLink</title>
    
    <link rel="stylesheet" type="text/css" href = "/stylesheets/login-style.css"/>
    <link rel="stylesheet" type="text/css" href = "/stylesheets/footer-style.css"/>

    <script src="javascripts/network.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>

  </head>
  <body>

    <div class="page-container">

      <div style="padding-bottom: 450px" class="content-wrap">

        <!--%- include('header'); %-->

        <!-- TITLE AND LOGO -->
        <div id="main-logo">
          <div id="title">
            <b style="color: #ff9d0b">Local</b><b style="color: #40a4a5">Link</b>
            <div id="motto">Connecting <b style="color: #47b6b8">Neighbors</b> to <b style="color: #47b6b8">Neighbors</b></div>
          </div>
          <div id="network"></div>
        </div>
        <!-- END TITLE AND LOGO -->


        <!-- LOGIN AND SIGNUP SECTION -->
        <div id="login-container">

          <div class="form-container">

            <!--div class="form-header">Login</div-->
            <form id="login-form" method="POST">

                <div style="display: inline-block;">
                  <div class="form-item">
                    <!--label>Username: </label-->
                    <input type="text" name="username" placeholder="Username"><br>
                  </div>

                  <div class="form-item">
                    <!--label>Password: </label-->
                    <input type="password" name="password" placeholder="Password"><br>
                  </div>

                  <input type="submit" value="Login" id="login-button">
                </div>

                <div style="display: inline-block;">
                  <div class="form-item">
                      <b id="no-account">Don't have an account?</b>
                  </div>

                  <a style="text-decoration: none; color: white;" href="/signup"><div id="signup-button">Sign Up</div></a>
                </div>

            </form>

          </div>
          <br>
          <% if (typeof session.msg !== 'undefined') { %>
            <%= session.msg %>
          <% } %>
        </div>
        <!-- END LOGIN AND SIGNUP SECTION -->

      </div>

      <%- include('footer'); %>

    </div>
    
  </body>
</html>