<!DOCTYPE html>
<html ng-app="mainApp">

<head>
  <title>LocalLink</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/myjobs-style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/searchjobs-style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/footer-style.css" />


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="javascripts/myjobs-loader.js"></script>

</head>

<body onload="start()">

  <div class="page-container">

    <div class="content-wrap">

      <%- include('header'); %>

      <section>
        <div id="poster-buttons-container">
          <div class="tab-content">
            <div id="myjobs" class="tab-pane fade in active">
              <div class="section-title">
                <h2>My Jobs Dashboard</h2>
                <h5>
                  From here, you can view and access your in progess and
                  past accepted jobs.
                </h5>
              </div>

              <ul class="nav nav-tabs">
                <li class="active">
                  <a class="myjobs-tab" data-toggle="tab" href="#inprogress-jobs" id="inprogress-tab">Currently Posted</a>
                </li>
                <li>
                  <a class="myjobs-tab" data-toggle="tab" href="#actively-working" id="actively-working-tab">Currently Working</a>
                </li>
                <li>
                  <a class="myjobs-tab" data-toggle="tab" href="#past-posted-jobs" id="past-posted-tab">Past Posted</a>
                </li>
                <li>
                  <a class="myjobs-tab" data-toggle="tab" href="#past-worked-jobs" id="past-worked-tab">Past Worked</a>
                </li>
              </ul>

              <div class="tab-content">


                <div id="inprogress-jobs" class="job-dashboard-item tab-pane fade in active">

                  <div class="load-container">
                    <div class="loader"></div>
                  </div>

                  <div style="display: none" id="inprogress-container">
                    <% if (active == '0'){ %>
                    <div class="job-title">
                      <center>You have not posted any jobs.</center>
                    </div>
                    <% } else if (typeof active !== 'undefined') { %>
                    <% for(var k in active) { %>
                      <div class="myjob-item row">
                        <script>
                          var increment = <%= k %>;
                          g = document.createElement('div');
                          g.setAttribute("id", "formDiv" + increment);
                          script = document.scripts[document.scripts.length - 1];
                          script.parentElement.insertBefore(g, script);
                        </script>
                        <script type="text/javascript">
                          var increment = <%= k %>;
                          var jspVar = "<%= active[k].job_id %>";
                          var h = document.getElementById('formDiv' + increment);
                          h.innerHTML = "<form method='POST' class='jobpost' name='form" + increment + "'>" +
                            "<a name='jobid' class='jobtitle' href='/job/" + jspVar + "'><%= active[k].title %></a>" +
                            "<p class='jobauthor'> Posted by: <%= active[k].poster_id %></p>" +
                            "<p class='jobprice'> Pay upon completion: <font color='green'>$<%=active[k].price %></font></p>" +
                            <% if(active[k].applied_worker && !active[k].worker_id){ %>
                            "<p class='jobprice'>Worker Applicants Pending!<font color='red'> <br>" +
                            <% } else  if(!active[k].applied_worker && !active[k].worker_id){ %>
                            "<p class='jobprice'>No Worker Applicants<font color='black'> <br>" +
                            <% } else  if(active[k].worker_id){ %>
                            "<p class='jobprice'>Worker: <a href='/viewReview?username=<%= active[k].worker_id %>' style='color:black;'><%= active[k].worker_id %></a> </p><br>" +
                            <% } %>                                                 
                            " <input type='hidden' name='job_id' value='" + jspVar + "'>" +
                            "<a href='/job/" + jspVar + "' class='btn-view'><button type='button' class='btn-view'>View Job</button></a> " +
                            " <input type='submit' class='btn-delete' name='Delete" + increment + "' " + "value='DELETE'>" +
                            " </form>"
                        </script>  
                      </div>   

                    <% } %>
                    <% } 	%>
                  </div>
                </div>


                <div id="actively-working" class="job-dashboard-item tab-pane fade in">
                  <div style="display: none" id="actively-working-container">
                    <% if (working == '0'){ %>
                    <div class="job-title">
                      <center>You are not working any jobs.</center>
                    </div>
                    <% } else if (typeof working !== 'undefined') { %>
                    <% for(var k in working) { %>
                      <div class="myjob-item row">
                        <script>
                          var increment = <%= k %>;
                          g = document.createElement('div');
                          g.setAttribute("id", "formDivWorking" + increment);
                          script = document.scripts[document.scripts.length - 1];
                          script.parentElement.insertBefore(g, script);
                        </script>
                        <script type="text/javascript">
                          var increment = <%= k %>;
                          var jspVar = "<%= working[k].job_id %>";
                          var h = document.getElementById('formDivWorking' + increment);
                          h.innerHTML = "<form method='POST' class='jobpost' name='form" + increment + "'>" +
                            "<a name='jobid' class='jobtitle' href='/job/" + jspVar + "'><%= working[k].title %></a>" +
                            "<p class='jobauthor'> Posted by: <a href='/viewReview?username=<%= working[k].poster_id %>' style='color:black;'><%= working[k].poster_id %></a></p>" +
                            "<p class='jobprice'> Pay upon completion: <font color='green'>$<%=working[k].price %></font></p>" +
                            " <input type='hidden' name='job_id' value='" + jspVar + "'>" +
                            "<a href='/job/" + jspVar + "' class='btn-view'><button type='button' class='btn-view'>View Job</button></a> " +
                            " </form>"
                        </script>
                        
                      </div>
                    <% } %>
                    <% } %>
                  </div>
                </div>


                <div id="past-posted-jobs" class="job-dashboard-item tab-pane fade in">
                  <div style="display: none" id="past-posted-container">
                    <% if (posted == '0'){ %>
                    <div class="job-title">
                      <center>You have no previously posted jobs</center>
                    </div>
                    <% } else if (typeof posted !== 'undefined') { %>
                    <% for(var k in posted) { %>
                      <div class="myjob-item row">
                        <script>
                          var increment = <%= k %>;
                          g = document.createElement('div');
                          g.setAttribute("id", "formDivPastPost" + increment);
                          script = document.scripts[document.scripts.length - 1];
                          script.parentElement.insertBefore(g, script);
                        </script>
                        <script type="text/javascript">
                          var increment = <%= k %>;
                          var jspVar = "<%= posted[k].job_id %>";
                          var h = document.getElementById('formDivPastPost' + increment);
                          h.innerHTML = "<form method='POST' class='jobpost' name='form" + increment + "'>" +
                            "<a name='jobid' class='jobtitle' href='/job/" + jspVar + "'><%= posted[k].title %></a>" +
                            "<p class='jobauthor'> Posted by: <%= posted[k].poster_id %></p>" +
                            "<p class='jobprice'> Paid in Full: <font color='green'>$<%=posted[k].price %></font></p>" +
                            "<p class='jobprice'>Worker: <a href='/viewReview?username=<%= posted[k].worker_id %>' style='color:black;'><%= posted[k].worker_id %></a> </p><br>" +
                            " <input type='hidden' name='job_id' value='" + jspVar + "'>" +
                            "<a href='/job/" + jspVar + " ' class='btn-view'><button type='button' class='btn-view'>View Job</button></a> " +
                            " </form>";
                        </script>  
                      </div>  
                    <% } %>
                    <% } 	%>
                  </div>
                </div>


                <div id="past-worked-jobs" class="job-dashboard-item tab-pane fade in">
                  <div style="display: none" id="past-worked-container">
                    <% if (worked == '0'){ %>
                    <div class="job-title">
                      <center>You have no previously worked jobs</center>
                    </div>
                    <% } else if (typeof worked !== 'undefined') { %>
                    <% for(var k in worked) { %>
                      <div class="myjob-item row">
                        <script>
                          var increment = <%= k %>;
                          g = document.createElement('div');
                          g.setAttribute("id", "formDivPastWork" + increment);
                          script = document.scripts[document.scripts.length - 1];
                          script.parentElement.insertBefore(g, script);
                        </script>
                        <script type="text/javascript">
                          var increment = <%= k %>;
                          var jspVar = "<%= worked[k].job_id %>";
                          var h = document.getElementById('formDivPastWork' + increment);
                          h.innerHTML = "<form method='POST' class='jobpost' name='form" + increment + "'>" +
                            "<a name='jobid' class='jobtitle' href='/job/" + jspVar + "'><%= worked[k].title %></a>" +
                            "<p class='jobauthor'> Posted by: <a href='/viewReview?username=<%= worked[k].poster_id %>' style='color:black;'><%= worked[k].poster_id %></a></p>" +
                            "<p class='jobprice'> Recieved Payment: <font color='green'>$<%=worked[k].price %></font></p>" +
                            " <input type='hidden' name='job_id' value='" + jspVar + "'>" +
                            "<a href='/job/" + jspVar + "' class='btn-view'><button type='button' class='btn-view'>View Job</button></a> " +
                            " </form>";
                        </script>  
                      </div>  
                    <% } %>
                    <% } 	%>
                  </div>
                </div>
              </div>

            </div>  
          </div>
        </div>
      </section>

    </div>

    <%- include('footer'); %>
  </div>
</body>

</html>


<!-- Example code for a single job listing.

                      <div class="job-listing">

                        <div class="job-details">
                          <div class="job-title">
                            Job Title Here 
                          </div>
                          <div class="poster-info">
                            <div class="posted-by">Posted by John S.<span id="verified">Verified User</span></div>
                            <div class="poster-rating">
                              <fieldset class="rating">
                                  <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5-stars"></label>
                                  <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="4.5-stars"></label>
                                  <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4-stars"></label>
                                  <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="3.5-stars"></label>
                                  <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3-stars"></label>
                                  <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="2.5-stars"></label>
                                  <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2-stars"></label>
                                  <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="1.5-stars"></label>
                                  <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1-star"></label>
                                  <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title=".5-stars"></label>
                              </fieldset>
                            </div>
                          </div>
                        </div>

                        <div class="miles-away">
                         8 miles away
                        </div>

                        <div class="job-pay">
                          $00.00
                        </div>

                        <div class="job-buttons">
                          <button id="view-button">View Job</button>
                          <button id="save-button">Save Job</button>
                        </div>
                      </div>
                      End example job listing -->
