<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<script src="javascripts/network.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/homepage-style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/footer-style.css">

</head>
<body>
	<div class="page-container">

    	<div class="content-wrap">

	        <%- include('header'); %>

	        <div style="position: absolute; margin: auto; width: 100%; text-align: center;">

				<div id="network"></div>

				<div style="transform: translate(0px, -350px);">

			    	<h1 id="posted" style="margin: 80px auto; color: #39b5c1; width: 500px; text-align: center; z-index: 100; font-weight: bold;">Your job has been posted!</h1>

			    	<div>
			    		<a style="text-decoration: none; color: white; z-index: 100;" href="/jobpost"><div class="post-button">Post Another Job</div></a>
			    	</div>

		    	</div>

	    	</div>

    	</div>

    	<%- include('footer'); %>

    </div>
</body>