<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login-style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="page-container">

		<div class="content-wrap">

			<%- include('header'); %>

			<div class="container col-xs-4 col-xs-offset-4 well text-center" style="min-height:400px; position: static; float: none;">

				<h3 class="text-center">Profile Page</h3>	
				<div id="name" class="row">Username: <%= session.username%></div>			
				<div id="name" class="row">Name: <%= session.fname%> <%= session.lname %></div>
				<div id="email" class="row">Email: <%= session.email %></div>
				<div id="phone" class="row">Phone: <%= session.phone %></div>
				<div id="address" class="row">Address: <%= session.address %></div>
				<div id="address2" class="row"><%= session.city %>, <%= session.state %> <%= session.zip %></div>
				<div id="about" class="row">About: <%= session.about_msg %></div>
				<a href="./editprofile" style="padding:5px;justify-content: center;align-items: center;height:30px;background-color:#1c9c29;color:white;">Edit Profile</a>
				<br><br>

				<% if (typeof jobs !== 'undefined') { %>
					<% for(var k in jobs) { %>
							<div name="jobid">Job ID: <%= jobs[k].job_id %></div>
							<div name="poster_id">Job Title: <%= jobs[k].title %></div>
							<div name="post_date">Post Date: <%= jobs[k].post_date %></div>
							<div name="job_desc">Job Description: <%= jobs[k].job_desc %></div>
							<div name="price">Price: $<%= jobs[k].price %></div>
							<div name="skills">Skills: <%= jobs[k].skills %></div>
							<div name="skills">Job Radius: <%= jobs[k].view_rad %></div>
							<script>
								var increment = <%= k %>;
								g = document.createElement('div');
								g.setAttribute("id", "formDiv" + increment);
								script = document.scripts[document.scripts.length - 1];
								script.parentElement.insertBefore(g, script);
							</script>
							<!--script type="text/javascript">
								var increment = <%= k %>;
								var jspVar = "<%= jobs[k].job_id %>";
								var h = document.getElementById('formDiv' + increment);
								h.innerHTML = "<form method='POST' name='form" + increment + "'>" +
									" <input type='hidden' name='job_id' value='" + jspVar + "'>" +
									" <input type='submit' name='Delete" + increment + "' " + "value='DELETE'>" +
									" </form>";
							</script-->
							<br><br>
	
					<% } %>
				<% } %>				
			</div>

		</div>

		<%- include('footer'); %>

	</div>
	
</body>

</html>