<!DOCTYPE html>
<html>
  <head>
    <title>LocalLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/homepage-style.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/searchworkers-style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/footer-style.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="/javascripts/jobsearch.js"></script>
  </head>
  <body onload="categoryDropDown()">

    <div class="page-container">

      <div class="content-wrap">
        <%- include('header'); %>
          <div id="searchworkers">
            <h2>Search Workers</h2>

            <form action="/searchworkers" method="GET">
              <div id="search-panel">
                <span>Category: </span>
                <div class="custom-select" style="width:160px;">
                  <select name="category">
                    <option value="All">All</option>
                    <option value="Carpentry">Carpentry</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Electrical">Electrical</option>
                    <option value="Lawn care">Lawn care</option>
                    <option value="Landscaping">Landscaping</option>
                    <option value="Painting">Painting</option>
                    <option value="Plumbing">Plumbing</option>
                    <option value="Trash Removal">Trash Removal</option>
                    <option value="Welding">Welding</option>
                    <option value="Moving">Moving</option>
                    <option value="Drywall repair">Drywall repair</option>
                  </select>
                </div>

                <span>Max Distance: </span>
                <div class="custom-select" style="width:100px;">
                  <select name="distance">
                    <option value="16093">10 miles</option>
                    <option value="14484">9 miles</option>
                    <option value="12874">8 miles</option>
                    <option value="11265">7 miles</option>
                    <option value="9656">6 miles</option>
                    <option value="8046">5 miles</option>
                    <option value="6437">4 miles</option>
                    <option value="4828">3 miles</option>
                    <option value="3218">2 miles</option>
                    <option value="1609">1 mile</option>
                  </select>
                </div>

                <span>Max Price: </span>
                <div class="custom-select" style="width:100px;">
                  $ <input name="price" type="number" min="0" step="1" max="150" value="150" />
                </div>

                <button id="submit-worker-search">
                  Search <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
            

            <div class="flex-container">
              <% if (typeof matched !== 'undefined') { %>
                <% for(var k in matched) {%>
                  <div class="worker row">
                    <div class="matched">
                      <div class="user_id">
                        <a href="/viewReview?username=<%= matched[k].user_id %>"><%= matched[k].user_id %></a>
                      </div>
                      <div class="matchedText">
                        Matched Worker
                      </div>
                      <div class="payrate">
                        Pay rate: $<%= matched[k].payrate %>
                      </div>
                      <div class="avgRating">
                        Average Rating:<%= matched[k].avgrating %>
                      </div>
                      <% if(matched[k].skills){ %>
                      <div class="jobSkills">Skills:
                        <% for(var j=0; j < matched[k].skills.length; ++j) { %>
                          <% if (j == (matched[k].skills.length - 1)) { %>
                          <div class="skill" style="display: inline-block;">
                            <%= matched[k].skills[j]%>
                          </div>
                          <% } else { %>
                            <div class="skill" style="display: inline-block;">
                              <%= matched[k].skills[j]%>,
                            </div>
                            <% } %>
                        <% } %>
                      </div>
                      <% } %>
                      <div class="workRadius">
                        Accepts jobs within <%= matched[k].workradius %> miles
                      </div>
                    </div>

                    <form method="POST" style="display: inline-block;">
                      <input style="display: none;" type="text" name="username" value="<%= matched[k].user_id %>">
                      <input style="text-decoration: none; color: white; font-weight: bold;" class="btn btn-info btn-job" type="submit" value="Contact" id="contact">
                    </form>

                  </div>   
                <%}%>
              <%}%>

              <% for(var j in worker){%>
                <div class="worker row">
                  <div class="job-details">
                    <div class="user_id">
                      <a href="/viewReview?username=<%= worker[j].user_id %>"><%= worker[j].user_id %></a>
                    </div>
                    <div class="payrate">
                      Pay rate: $<%= worker[j].payrate %>
                    </div>
                    <div class="avgRating">
                      Average Rating: <%= worker[j].avgrating %>
                    </div>
                    <% if(worker[j].skills){ %>
                    <div class="jobSkills">Skills:
                      <% for(var k=0; k < worker[j].skills.length; ++k) { %>
                        <% if (k == (worker[j].skills.length - 1)) { %>
                          <div class="skill" style="display: inline-block;">
                            <%= worker[j].skills[k]%>
                          </div>
                          <% } else { %>
                            <div class="skill" style="display: inline-block;">
                              <%= worker[j].skills[k]%>,
                            </div>
                            <% } %>
                      <% } %>
                    </div>
                    <% } %>
                    <div class="workRadius">
                      Accepts jobs within <%= worker[j].workradius %> miles
                    </div>
                  </div>

                  <form method="POST" style="display: inline-block;">
                    <input style="display: none;" type="text" name="username" value="<%= worker[j].user_id %>">
                    <input style="text-decoration: none; color: white; font-weight: bold;" class="btn btn-info btn-job" type="submit" value="Contact" id="contact">
                  </form>

                </div>   
              <%}%>
              
            </div>
          </div>
        <%- include('footer'); %>
      </div>
    </div>
  </body>
</html>
