<!DOCTYPE html>
<html>
  <head>
    <title>LocalLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/homepage-style.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/searchjobs-style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/footer-style.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="/javascripts/myjobs.js"></script>
    <script src="/javascripts/jobsearch.js"></script>
    <script src="/javascripts/applyjob.js"></script>
    <script src="/javascripts/autoaccept.js"></script>
  </head>
  <body onload="categoryDropDown()">

    <div class="page-container">

      <div class="content-wrap">
        <%- include('header'); %>
          <div id="searchjobs">
            <h2>Search Jobs</h2>

            <form action="/searchjobs" method="GET">
              <div id="search-panel">
                <span>Category: </span>
                <div class="custom-select" style="width:160px;">
                  <select name="category">
                    <option value="All">All</option>
                    <option value="Carpentry">Carpentry</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Electrical">Electrical</option>
                    <option value="Lawn care">Lawn care</option>
                    <option value="Landscaping">Landscaping</option>
                    <option value="Painting">Painting</option>
                    <option value="Plumbing">Plumbing</option>
                    <option value="Trash Removal">Trash Removal</option>
                    <option value="Welding">Welding</option>
                    <option value="Moving">Moving</option>
                    <option value="Drywall repair">Drywall repair</option>
                  </select>
                </div>

                <span>Max Distance: </span>
                <div class="custom-select" style="width:100px;">
                  <select name="distance">
                    <option value="16093">10 miles</option>
                    <option value="14484">9 miles</option>
                    <option value="12874">8 miles</option>
                    <option value="11265">7 miles</option>
                    <option value="9656">6 miles</option>
                    <option value="8046">5 miles</option>
                    <option value="6437">4 miles</option>
                    <option value="4828">3 miles</option>
                    <option value="3218">2 miles</option>
                    <option value="1609">1 mile</option>
                  </select>
                </div>

                <button id="submit-job-search">
                  Search <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
            
            <div class="flex-container">
              <% if (typeof posts !== 'undefined') { %>
              <% posts.forEach(function (post) { %>
              <div class="myjob-item row">
                <form method="post" class ="jobpost">
                  <a name="jobid" href="/job/<%= post.job_id %>"><%= post.title %></a>
                  <p class="jobauthor"> posted by <a href="/viewReview?username=<%= post.poster_id %>"><%= post.poster_id %></a></p>
                  <input type="hidden" name="job_id" value="<%= post.job_id %>">
                  <input type="hidden" name="worker_id" value="<%= user %>">
                  <% if(typeof user !== 'undefined'){ %>
                  <%# Prevent user from applying if they've already done so or if they posted the job %>
                  <% if(Array.isArray(post.applied_worker)){ %>
                  <% if(post.applied_worker.indexOf(user) != -1){ %>
                  <button type="button" class="btn btn-success btn-job" id="jbapply">Application Sent!</button>
                  <button type="button" class="btn btn-primary btn-job" id="jbautoacpt">Auto Accept Job</button>
                  <% } else if(user !== post.poster_id){ %>							
                  <button type="button" class="btn btn-primary btn-job" id="jbapply">Apply For Job</button>
                  <button type="button" class="btn btn-primary btn-job" id="jbautoacpt">Auto Accept Job</button>
                  <% }} else if(user !== post.poster_id && !post.worker_id){ %>
                  <button type="button" class="btn btn-primary btn-job" id="jbapply">Apply For Job</button>
                  <button type="button" class="btn btn-primary btn-job" id="jbautoacpt">Auto Accept Job</button>
                  <% }} %>         
                  <a href="/job/<%= post.job_id %>" class="btn-job"><button type="button" class="btn btn-info">View Job</button></a>      
                </form>
              </div>   
              <% }) %>
              <% } else { %>
              <div class="myjob-item row">
                <div class="job-details">
                  <div id="job_id">No jobs found!</div>
              <% } %>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>
  </body>
</html>
