<!DOCTYPE html>
<html ng-app="searchApp" ng-controller="searchController"> 
<script src="\javascripts\angular.min.js"></script>
<script src="\javascripts\search_app.js"></script>
<style>
div.ex1 {
  width:180px;
  margin: auto;
  
}
</style>

<body >


<script> 

</script>        
        
        <div ng-repeat= "x in array" >
        
            <img class="th" img ng-src="{{x.fileName}}" width="100" height="100" /> 
                    
        {{x.comments}} 
         
        
        </div>
          
    <br>
    <button ng-click = "closePage()" > Close </button> 
  
    </body>
        
 </html>


