<!doctype html>
<html>
<head>
  <title>Create Review</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/homepage-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/selectReview-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/navstyle.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
</head>
<body>

  <div class="page-container">

    <div class="content-wrap">

      <%- include('header'); %>

      <!-- BEGIN RATINGS FORM CONTAINER-->
      <div id="selectreview">

        <div class="section-title">
          <h2 id="selectreview-title">Select Review</h2>
            <h5>
              View the ratings and reviews of a specified user.
            </h5>
        </div>

        <form action="/viewReview" method="GET">

          <div id="selectReview-form-items">         
           
            <div class="form-item">
                <label>Whose reviews would you like to see?</label>
                <input type="text" name="username" placeholder="USERNAME"><br>
            </div>
                
            <input type="submit" value="SUBMIT" id="register-button">

          </div>

        </form>  
        
	    </div>	
	   
    </div>
    <!-- END RATINGS FORM CONTAINER-->
   

    <%- include('footer'); %>

  </div>
  
</body>
</html>
