<!DOCTYPE HTML>
<html>
<head>
  <title>Create Review</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/homepage-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/viewReview-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/navstyle.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
   
</head>
<body>

  <div class="page-container">

    <div class="content-wrap">

      <%- include('header'); %>

      <div id="viewreview">

        <div class="section-title">
          <h2 id="viewreview-title">Ratings and Reviews For: <%= arr.username %></h2>
        </div>
          <% if(arr.reviews && arr.reviews.length !== 0){ %>
          <% for(var i = 0 ; i < arr.reviews.length ; i++) { %>
            <div class="review">
              <div class="stars"><%= arr.reviews[i].rating %><%= " STARS   " %>
                <span>Reviewed by: <%= arr.reviews[i].reviewed_by %> </span>
              </div>
              <div class="review-description">
                <%= arr.reviews[i].rev_desc %>
              </div>
            </div>
          <% }} else{ %>
            <div class="review">
              <div class="review-description" style="text-align: center;">
                User currently has no ratings or reviews.
              </div>
            </div>
            <% } %>
	    </div>	
	   
    </div>
      
   
    <%- include('footer'); %>
    

  </div>
  
</body>
</html>
