<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <title>LocalLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/navstyle.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/homepage-style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/postworker-style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/footer-style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>

    <div class="page-container">

      <div class="content-wrap">

        <%- include('header'); %>

        <div id="postworker">

          <div class="section-title">
            <h2>Post Worker Profile</h2>
            <h5>
              From here, you can create your worker profile and post it to the LocalLink community, allowing other users to view your skillset.
            </h5>
          </div>

          <div id="workerpost-container">
            <form method="POST">
              
              <div class="dropdown">
                <label for="workCategory">Please enter job categories you would like to work in: <small>(Select more than one by holding control)</small></label>
                <select id="workCategory" name="workCategory" multiple>
                  <option value="Carpentry">Carpentry</option>
                  <option value="Cleaning">Cleaning</option>
                  <option value="Electrical">Electrical</option>
                  <option value="Lawn care">Lawn care</option>
                  <option value="Landscaping">Landscaping</option>
                  <option value="Painting">Painting</option>
                  <option value="Plumbing">Plumbing</option>
                  <option value="Trash Removal">Trash Removal</option>
                  <option value="Welding">Welding</option>
                  <option value="Moving">Moving</option>
                  <option value="Drywall repair">Drywall repair</option>
                </select>
              </div> 

              <div style="display: inline-block;">
                <label for="skillCategory">Please select skills that apply to you: <small>(Select more than one by holding control)</small></label>
                <select id="skillCategory" name="skillCategory" multiple>
                  <option value="Carpentry">Carpentry</option>
                  <option value="Cleaning">Cleaning</option>
                  <option value="Electrical">Electrical</option>
                  <option value="Lawn care">Lawn care</option>
                  <option value="Landscaping">Landscaping</option>
                  <option value="Painting">Painting</option>
                  <option value="Plumbing">Plumbing</option>
                  <option value="Trash Removal">Trash Removal</option>
                  <option value="Welding">Welding</option>
                  <option value="Moving">Moving</option>
                  <option value="Drywall repair">Drywall repair</option>
                </select>
              </div>
              
              <div class="formBox">
                <label for="payrate">Enter your preferred pay rate: <small>(Maximum of 150 dollars)</small></label>
                <input type="number" min="1" max="150" step="1" placeholder="Enter price in dollars" name="payrate" required>
              </div>

              <div class="formBox">
                <label for="workRadius">What is the maximum distance you will be willing to accept a job? (Maximum of 10 miles)</label>
                <input type="number" min="1" max="10" step="1" placeholder="Enter job radius" name="workRadius" required>
              </div>
                
              <div class="formBox" id="workerpost-button-container">
                <input type="submit" value="Post my profile" class="post-button">
              </div>
              
            </form>
            
          </div>

        </div>
        
      </div>

      <%- include('footer'); %>

    </div>

  </body>
</html>